<?xml version="1.0" encoding="UTF-8"?>
<xmxx>
    <lendingagency>
        #foreach($!agency in $!templates.lendingAgencies)
            <agency>
                <lendingcode>$!agency.lendingCode</lendingcode>
                <lenderscode>$!agency.leadersCode</lenderscode>
                <lendingname>$!agency.lendingName</lendingname>
                <secondagname>$!agency.secondAgName</secondagname>
                <riskrate>$!agency.riskRate</riskrate>
            </agency>
        #end
    </lendingagency>
    <customerbaseinfo>
        #foreach($!customer in $!templates.customerBaseInfos)
            <customer>
                <customercode>$!customer.customerCode</customercode>
                <custcode>$!customer.custCode</custcode>
                <custname>$!customer.custName</custname>
                <identitycode>$!customer.identityCode</identitycode>
                <identitynumber>$!customer.identityNumber</identitynumber>
                <isagriculture>$!customer.isAgriculture</isagriculture>
                <scalecode>$!customer.scaleCode</scalecode>
                <custregioncode>$!customer.custRegionCode</custregioncode>
            </customer>
        #end
    </customerbaseinfo>
    <rzcontractbaseinfo>
        #foreach($!contract in $!templates.rzContractBaseInfos)
            <contract>
                <contractno>$!contract.contractNo</contractno>
                <contcustcode>$!contract.contcustCode</contcustcode>
                <contcustname>$!contract.contcustName</contcustname>
                <contractname>$!contract.contractName</contractname>
                <projectcode>$!contract.projectCode</projectcode>
                <applydate>$!contract.applyDate</applydate>
                <contstatecode>$!contract.contStateCode</contstatecode>
                <industrycode>$!contract.industryCode</industrycode>
                <iscredit>$!contract.isCredit</iscredit>
                <isfirst>$!contract.isFirst</isfirst>
                <isrelevance>$!contract.isRelevance</isrelevance>
                <issuecode>$!contract.isSuecode</issuecode>
                <contlendingcode>$!contract.contLendingCode</contlendingcode>
                <policycode>$!contract.policyCode</policycode>
                <contregioncode>$!contract.contRegionCode</contregioncode>
                <warrantcode>$!contract.warrantCode</warrantcode>
                <fixedterm>$!contract.fixedTerm</fixedterm>
                <contractamount>$!contract.contractAmount</contractamount>
                <discountamount>$!contract.discountAmount</discountamount>
                <guaranteeamount>$!contract.guaranteeAmount</guaranteeamount>
                <otheramount>$!contract.otherAmount</otheramount>
                <lendingdate>$!contract.lendingDate</lendingdate>
            </contract>
        #end
    </rzcontractbaseinfo>
    <frzcontractbaseinfo>
        #foreach($!contract in $!templates.frzContractBaseInfos)
            <contract>
                <contractno>contract.contractNo</contractno>
                <contcustcode>contract.contcustCode</contcustcode>
                <contcustname>contract.contcustName</contcustname>
                <contractname>contract.contractName</contractname>
                <projectcode>contract.projectCode</projectcode>
                <applydate>contract.applyDate</applydate>
                <contstatecode>contract.contStateCode</contstatecode>
                <industrycode>contract.industryCode</industrycode>
                <isfirst>contract.isFirst</isfirst>
                <policycode>contract.policyCode</policycode>
                <contregioncode>contract.contRegionCode</contregioncode>
                <warrantcode>contract.warrantCode</warrantcode>
                <fixedterm>contract.fixedTerm</fixedterm>
                <contractamount>contract.contractAmount</contractamount>
                <discountamount>contract.discountAmount</discountamount>
                <guaranteeamount>contract.guaranteeAmount</guaranteeamount>
                <otheramount>contract.otherAmount</otheramount>
            </contract>
        #end
    </frzcontractbaseinfo>
    <contractshare>
        #foreach($!share in $!templates.contractShares)
            <share>
                <sharecontractno>share.shareContractNo</sharecontractno>
                <shareno>share.shareNo</shareno>
                <sharelendingcode>share.shareLendingCode</sharelendingcode>
                <sharelendingname>share.shareLendingName</sharelendingname>
                <riskcode>share.riskCode</riskcode>
                <bearproportion>share.bearProportion</bearproportion>
                <bearamount>share.bearAmount</bearamount>
            </share>
        #end
    </contractshare>
    <contractclearing>
        #foreach($!clearing in $!templates.contractClearings)
            <clearing>
                <clearingcontractno>clearing.clearingContractNo</clearingcontractno>
                <clearingno>clearing.clearingNo</clearingno>
                <clearingcode>clearing.clearingCode</clearingcode>
                <clearingamount>clearing.clearingAmount</clearingamount>
                <clearingotheramount>clearing.clearingOtherAmount</clearingotheramount>
                <clearingdate>clearing.clearingDate</clearingdate>
                <clearingtakebackcode>clearing.clearingTakeBackCode</clearingtakebackcode>
            </clearing>
        #end
    </contractclearing>
    <contractcompen>
        #foreach($!compen in $!templates.contractCompens)
            <compen>
                <compencontractno>compen.compenContractNo</compencontractno>
                <compenno>compen.compenNo</compenno>
                <compencode>compen.compenCode</compencode>
                <compenname>compen.compenName</compenname>
                <compenamount>compen.compenAmount</compenamount>
                <compenotheramount>compen.compenOtherAmount</compenotheramount>
                <compendate>compen.compenDate</compendate>
            </compen>
        #end
    </contractcompen>
    <contractrecovery>
        #foreach($!recovery in $!templates.contractRecoveries)
            <recovery>
                <recoverycontractno>recovery.recoveryContractNo</recoverycontractno>
                <recoveryno>recovery.recoveryNo</recoveryno>
                <recoveryamount>recovery.recoveryAmount</recoveryamount>
                <recoveryotheramount>recovery.recoveryOtherAmount</recoveryotheramount>
                <recoverydate>recovery.recoveryDate</recoverydate>
                <recoverytakebackcode>recovery.recoveryTakeBackCode</recoverytakebackcode>
            </recovery>
        #end
    </contractrecovery>
</xmxx>
